/*utility classes (start)*/
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block !important;
}

.flex-col-cn {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

w-80 {
  max-width: 80rem;
}

.brdr-0 {
  border: 0rem;
}

.test-border-black {
  border: 1px solid black;
}

.test-border-red {
  border: 1px solid red;
}

.test-border-green {
  border: 1px solid green;
}

.test-padding {
  padding: 2rem;
}
/*utility classes (end)*/
