$mint-cream: #f5faf5;
$ct1-mint-cream: #955f95;
$ct2-mint-cream: #566d76;
$bg-clr1: #90b1b6d2;
$bg-clr2: #f5f5f5;
$bg-clr3: #fffff0;
$bg-clr4: #e6f7ff;
$bg-clr5: #8fd58f;
$bg-clr6: #f5f5dc;
$txt-clr1: #333;
$txt-clr2: #332;
$link-clr1: #007bff;
